* {
  box-sizing: border-box;
  font-family: "Press Start 2P", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  color: #fff;
  text-align: center;
}

.container {
  padding: 50px;
}

section.notFound {
  height: 100%;
  width: 100%;
}

section.notFound h1 {
  color: red;
  font-size: 100px;
}

section.notFound h2 {
  font-size: 50px;
}

div.text a {
  text-decoration: underline;
}

div.text a:hover {
  color: red;
  text-decoration: none;
}

section.notFound div.img img {
  max-width: 70%;
  height: auto;
}

@media only screen and (max-width: 1140px) {
  section.notFound {
    flex-direction: column;
    justify-content: space-around;
  }

  section.notFound div.img img {
    width: 70%;
  }

  section.notFound h1 {
    font-size: 50px;
  }

  section.notFound h2 {
    font-size: 25px;
  }

  div.text a:active {
    color: red;
    text-decoration: underline;
  }
}
