<main class="container">
  <section class="notFound flex justify-content-center align-items-center">
    <div class="img">
      <a [routerLink]="['']">
        <img
          src="assets/img/backToTheHomepage.png"
          alt="Back to the Homepage"
          class="inversed"
        />
      </a>
      <img src="assets/img/Delorean.png" alt="Delorean, Doc & Marty McFly" />
    </div>
    <div class="text">
      <h1>404</h1>
      <h2>PAGE NOT FOUND</h2>
      <h3><a [routerLink]="['']">BACK TO HOME</a></h3>
    </div>
  </section>
</main>
